{% extends "base.html" %}

{% block title %}
Прогулочная коляска Hello Baby
{% endblock %}


{% load static %}

{% block content %}
        <p><a href={% url 'hello_baby_big' %}><img class="goods" src={% static '/img/hello_baby.jpg' %} alt="Коляска Hello Baby"></a>
	<p class="short_decr">Коляска-трость</p>
	    <h3 class="goods">Описание товара</h3>
		<ul class="description">
			<li>Вес - 6 кг.</li>
			<li>Предназначена для детей от рождения до 3 лет.</li>
			<li>Очень большой капюшон со смотровым окошком</li>
			<li>Передние поворотные колеса с фиксацией. Стопы на задних колесах.</li>
			<li>В комплекте летний коврик, чехол на ножки, бампер.</li>
		</ul>
{% endblock %}