{% extends "base.html" %}

{% block title %}
    Главная страница
{% endblock %}


{% load static %}


            {% block content %}
        </div>
        <h1>Интернет-магазин детских колясок</h1>
        <h2>тел. 8 906 343 10 00</h2>
        <hr/>
{#        </header>#}
    <h3 class="goods">
        <p> Добро пожаловать в наш интернет магазин</p>
        <p>"Счастливая Мама"</p>
        <p>Здесь вы найдете коляски на любой вкус и кошелек</p>
    </h3>
    <img src={% static 'img/main.jpg' %} alt="main logo">
        {% endblock %}
