{% extends "base.html" %}

{% block title %}
    Прогулочная коляска Yoya KingMoon
{% endblock %}


{% load static %}

{% block content %}
    {% load static %}
    <p><a href={% url 'yoya_kingmoon_big' %}><img class="goods" src={% static '/img/yoya_kingmoon.jpg' %} alt="Коляска
                                                  Yoya KingMoon"></a>
    <p class="short_decr">Компактная прогулочная коляска</p>
    <ul class="description">
        <li>Резиновые колеса с амортизацией на передней оси</li>
        <li>Новый регулируемый бампер, адаптированный под использование подножки</li>
        <li>Вес: 5,8 кг</li>
        <li>Возраст ребенка: от 0 месяцев до 3-х лет</li>
        <li>Максимальная нагрузка: 25 кг</li>
        <li>Спинка опускается до 165 градусов</li>
        <li>Мгновенное складывание и раскладывание одной рукой, второй вы сможете держать ребенка</li>
        <li>Компактное хранение и возможность взять коляску даже в салон самолета, размер 45x55x19см</li>
        <li>Корзина для покупок под сиденьем</li>
        <li>Пятиточечные ремни безопасности</li>
        <li>В комплекте подстаканник, москитная сетка, летний коврик, чехол</li>
        <li>Цвет - розовый меланж (стираный лен)</li>
    </ul>

{% endblock %}
